body {
  font-size: $font-size;
  font-family: $font-family;
}

h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 4em;
  font-weight: 200;
}
h2 {
  font-size: 3.4em;
  font-weight: 200;
}

p {
  margin: 1em 0 0.8em;
  padding: 0;
}
