.barre-btn{
  width: 100%;
}
.btn {
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 15px;
  text-decoration:none;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  min-width:135px;
}

.btn-trairement {
  color: #ffffff;
  background-color: #ec971f;
  border-color: transparent;
  &:hover {
    background-color: #df691a;
  }
}

.btn-update {
  color: #ffffff;
  background-color: #61c161;
  border-color: transparent;
  &:hover {
    background-color: #449d44;
  }
}

.btn-observ {
  color: #ffffff;
  background-color: #45B7D9;
  border-color: transparent;
  &:hover {
    background-color: #28A0C4;
  }
}

.btn-action {
  color: white;
  background-color: #B54FD9;
  &:hover {
    background-color: #7E3797;
  }
}

.btn-delet{
  color: #ffffff;
  background-color: #d9534f;
  border-color: transparent;
  float :right;
  margin-left: 20px;
  &:hover {
    background-color: #C9302C;
  }
}
.btn-save{
  color: #ffffff;
  background-color: #61c161;
  border-color: transparent;
  float :right;
  margin-left: 20px;
  &:hover {
    background-color: #449d44;
  }
}
.btn-new{
  width: auto;
  height: auto;
  border: 1px solid transparent;
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto
}
