.Carousel{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  width: 1000px;
  img {-webkit-transition: transform 1s ease-in;
     -moz-transition: transform 1s ease-in;
       -o-transition: transform 1s ease-in;
          transition: transform 1s ease-in;
  }
}

.img1{
  transform: translateX(0);
}
.img2{
  transform: translateX(-1000px);
}
.img3{
  transform: translateX(-2000px);
}
