.Management__list {
  margin: 10px;
  padding: 0;
  list-style: none;
}
.Management__greenhouse {
  background-color: rgba(255,255,255,0.8);
  margin: 14px 0px;
  @include susy-breakpoint(1240px) {
    &:nth-child(2n+1) {
      @include span(first 49 of 100);
    }
    &:nth-child(2n) {
      @include span(49 of 100 last);
    }
  }

  padding: 10px;
  border-bottom: 1px solid #ccc;
  .info {
    margin-top: 20px;
  }
  .info, dl {
    @include container(100%);
    dt {
      @include span(first 3 of 12);
    }
    dd {
      @include span(last 9 of 12);
    }
  }
  .sensor {
    padding: 10px 0;
  }

  .value{
    color:#0851FD;
    font-size: 1.2em;

  }

  .Management__greenhouse-header{
    @include container(100%);
    margin: 12px 0px;
    line-height: 2.4em;
    color: #628BB3;
    .number, .type {
      float: left;
    }
    .number {
      font-size: 2.4em;
    }
    .type {
      font-size: 1.8em;
      font-style: italic;
      padding-left: 20px;
    }
  }
  .dimention {
    display: block;
    width: 100%;
    font-size: 0.9em;
    color: darken(#628BB3, 30%);
  }
  .realm {
    padding: 10px;
    margin-top: 20px;
    background-color: #e8e8e8;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .realm-header {

    span:last-child {
      padding: 0 10px;
      font-weight: bold;
    }
  }
}
