<div class="content">
    truc
    <div id="featured" class="Carousel">
        <img src="assets/nouvelle_serre1000x500.png" alt="Nouvelle Serre" >
        <img src="assets/mes_serres1000x500.png" alt="Gestion des Serres"><
        <img src="assets/statistique1000x500.png" alt="Statistiques">
    </div>

</div>
